body {
    font-family: "Encode Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    margin: 0;
    padding: 0;
    color: var(--textColor);
    background: repeating-linear-gradient(90deg, var(--lineBackground1) 25%, var(--lineBackground2) 50%, var(--lineBackground1) 25%) !important;
    background-size: 12px 12px !important;

}

h1 {
    font-size: 1.6em;
}

a {
    color: var(--textColor);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

svg {
    fill-rule: evenodd;
    clip-rule: evenodd;
}

h3, h4, h5, h6 {
    font-weight: bolder;
}

@keyframes showBlock {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

.contentBody {
    padding: 0 20px;
    margin-bottom: 40px;
}

/* product grid  */

.grid {
    .gridItems {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 10px;

        .gridItem {
            color: var(--accentText);
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: left;
            padding: 10px;
            background-color: #fff;


            img {
                max-width: 100%;
                height: auto;
            }

            h2 {
                font-size: 0.8em;
                font-weight: 300;
                margin: 0 0 5px;
            }

            h3 {
                height: 1.4em;
                overflow: hidden;
                line-height: 1.3;
                font-size: 0.9em;
                font-variant: small-caps;
                font-weight: 300;
                margin: 0;
            }

            .text {
                overflow: hidden;
                line-height: 1.4;
                height: 2.8em;
                font-size: 0.7em;
                text-align: justify;
            }

            .image-container {
                margin: -31px -10px 0;

                &.with-hover {
                    .hover {
                        display: none;
                    }
                }
            }

            .detail-container {
                display: flex;
                justify-content: space-between;
                font-size: 0.8em;
                text-transform: uppercase;

                p {
                    color: var(--accentText);
                }

                .placeholder {
                    display: block;
                }

                .details {
                    display: none;
                }

                .price {
                    &.sale {
                        .regular-price {
                            position: relative;
                        }

                        .regular-price::after {
                            content: "";
                            width: 100%;
                            height: 1px;
                            background: black;
                            position: absolute;
                            bottom: 7px;
                            left: 0;
                            transform: rotate(-7deg)
                        }
                    }

                    .sale-price {
                        color: var(--saleColor);
                        font-weight: bolder;
                    }
                }
            }

            .sku-container {
                display: flex;
                justify-content: space-between;
                font-size: 0.7em;
                color: var(--deAccentText);

                p {
                    margin-bottom: 0;
                }

                .sku span {
                    display: none;
                }
            }

            .tag-container {
                display: inline-grid;
                position: relative;
                height: 0;
                top: 10px;

                .tag {
                    .tag-body {
                        position: relative;
                        display: none;
                        padding: 3px 5px 4px 8px;
                        font-size: .8em;
                        margin: 5px 0 5px -10px;
                        font-weight: 500;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: -18px;
                            width: 0;
                            height: 0;
                            border-left: 11px solid transparent;
                            border-top: 17px solid transparent;
                            border-bottom: 17px solid transparent;
                            border-right: 7px solid transparent;
                        }

                        &.category, &.mounting-type {
                            display: inline-grid;
                            background-color: var(--tagCategoryBgColor);
                            color: var(--tagCategoryColor);

                            &::after {
                                border-left-color: var(--tagCategoryBgColor);
                            }
                        }

                        &.width {
                            display: inline-grid;
                            background-color: var(--tagWithBgColor);
                            color: var(--tagWithColor);

                            &::after {
                                border-left-color: var(--tagWithBgColor);
                            }
                        }

                        .tag-name {
                            display: block;
                            font-size: .7em;
                        }

                        .tag-value {

                        }
                    }

                    /*if second div are category, hide it */

                    &:nth-child(2) .category {
                        display: none;
                    }

                    &:nth-child(3) .category {
                        display: none;
                    }

                    /* hide with if first div are category */

                    /*&:nth-child(2) .width {*/
                    /*    display: none;*/
                    /*}*/
                }
            }
        }

        .gridItem:hover {
            h3 {
                transition: all 1s;
                font-weight: 600;
            }

            .image-container {
                &.with-hover {
                    .main {
                        display: none;
                    }

                    .hover {
                        display: block !important;
                        margin-bottom: 3.5px;
                    }
                }
            }

            .detail-container {
                .placeholder {
                    display: none;
                    transition: all 2s;
                }

                .details {
                    display: block;
                    animation: showBlock 2s forwards;
                    transition: all 2s;
                    font-weight: bolder;
                }

                .price.sale {
                    .regular-price {
                        transition: all 1s;
                        color: var(--deAccentText1);

                        &::after {
                            transition: all 1s;
                            background: var(--deAccentText1);
                        }
                    }

                    .sale-price {
                        color: var(--saleColor);
                        transition: all 2s;
                        font-weight: bold;
                    }
                }
            }

            .sku-container .sku span {
                display: inline;
                color: var(--deAccentText1);
            }
        }
    }

    .gridFooter {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px;

        .countItems {
            font-size: 0.8em;
            color: var(--deAccentText);
            margin: 7px 0;
            text-align: left;

            select {
                font-size: 0.8em;
                border: 1px solid var(--paginationBgColor);
                background-color: var(--paginationBgColor);
                color: var(--paginationColor);
                transition: background-color 0.3s, color 0.3s;
            }
        }

        .pagination {
            text-align: right;
            display: grid;
            grid-template-columns: repeat(7, 30px);
            gap: 10px;
            justify-content: end;
            margin: 10px 0;

            a {
                font-size: 0.8em;
                color: var(--paginationColor);
                background-color: var(--paginationBgColor);
                padding: 7px;
                border-radius: 5px;
                text-align: center;
                transition: background-color 0.3s, color 0.3s;
            }

            a.active, a:hover, a:focus {
                color: var(--paginationHoverColor);
                background-color: var(--paginationHoverBgColor);
            }
        }
    }
}

/* shop page  */

.shop {
    .header {
        .title {
            h1 {
                margin-bottom: 3px;
            }
            p {
                font-size: .75em;
                margin-top: 3px;
            }
        }
    }

    .description {
        column-count: 4;
        column-gap: 50px;
        text-align: justify;

        a {
            color: var(--deAccentText);
        }
    }
}


