:root {

    /* background */
    --lineBackground1: #323639FF;
    --lineBackground2: #262829FF;
    --accentBG: #eeeeee;
    --deAccentBG: #7e7e7e;

    /* text */
    --textColor: #fff;
    --accentText: #000;
    --deAccentText: #a4a4a4;
    --deAccentText1: #999;

    /*special color*/
    --tagCategoryColor: #fff;
    --tagCategoryBgColor: #3b4e3a;
    --tagWithColor: #fff;
    --tagWithBgColor: #266282;
    --saleColor: #299529;

    /* menu */
    --menuIconColor: #000;
    --menuIconHoverColor: #266282;

    /* pagination */
    --paginationColor: #fff;
    --paginationBgColor: #000;
    --paginationHoverColor: #4d4d4d;
    --paginationHoverBgColor: #7e7e7e;



    --invertTextColor: #000;
}
/* varietals */

