{{define "footer_file_imports"}}
    <link id="footer-css" rel="stylesheet" href="/assets/css/footer.min.css" type="text/css" media="all" version="1.113" crossorigin="anonymous">
    <script id="footer-js" src="/assets/js/user.min.js" type="application/javascript" version="1.001"></script>
    <script id="wasm-js" src="/assets/js/wasm.js" type="application/javascript" version="1.009"></script>
    <script id="adminApp-wasm" src="/assets/wasm/adminApp.wasm" type="application/wasm" version="1.001"></script>
{{end}}