{{define "footer"}}
    <div class="mmFooter">
        <div>
            <div class="col text-center">
                <small class="text-muted">Copyright &copy; tonoco.io</small>
            </div>
        </div>
    </div>
    {{template "footer_file_imports" .}}
    {{template "footer_logs" .}}
{{end}}