{{define "footer_file_imports"}}
    <link id="footer-css" rel="stylesheet" href="/assets/css/footer.min.css" type="text/css" media="all" version="1.111" crossorigin="anonymous">
    <script id="footer-js" src="/assets/js/footer.min.js" type="application/javascript" version="1.001"></script>
    <script id="wasm-exec-js" src="/assets/js/wasm_exec.min.js" type="application/javascript" version="1.001"></script>
    <script id="wasm-js" src="/assets/js/wasm.min.js" type="application/javascript" version="1.007"></script>
{{end}}