{{define "head_file_imports"}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link id="dark-css" rel="stylesheet" href="/assets/css/dark.min.css" type="text/css" media="all" version="1.039" crossorigin="anonymous">
    <link id="body-css" rel="stylesheet" href="/assets/css/body.min.css" type="text/css" media="all" version="1.139" crossorigin="anonymous">
    <link id="header-css" rel="stylesheet" href="/assets/css/header.min.css" type="text/css" media="all" version="" crossorigin="anonymous">
    <script id="appData-js" src="/assets/js/appData.min.js" type="application/javascript" version="1.003"></script>
{{end}}