{{define "head_file_imports"}}
    <link id="dark-css" rel="stylesheet" href="/assets/css/dark.min.css?v=1.078" type="text/css" media="all" version="1.078" crossorigin="anonymous">
    <link id="body-css" rel="stylesheet" href="/assets/css/body.min.css?v=1.649" type="text/css" media="all" version="1.649" crossorigin="anonymous">
    <link id="header-css" rel="stylesheet" href="/assets/css/header.min.css?v=1.022" type="text/css" media="all" version="1.022" crossorigin="anonymous">
    <script id="wasm-exec-js" src="/assets/js/wasm_exec.js" type="application/javascript" version="1.1"></script>
    <script id="wasm-js" src="/assets/js/wasm.min.js?v=1.001" type="application/javascript" version="1.001"></script>
    <script id="appData-js" src="/assets/js/appData.min.js?v=1.156" type="application/javascript" version="1.156"></script>
{{end}}