{{/* version update automatically by Makefile */}}
{{define "footer_file_imports"}}
    <link id="footer-css" rel="stylesheet" href="/assets/css/footer.min.css?v=1.111" type="text/css" media="all" version="1.111" crossorigin="anonymous">
{{end}}
