{{define "head_file_imports"}}
    <link id="dark-css" rel="stylesheet" href="/assets/css/dark.min.css?v=1.060" type="text/css" media="all" version="1.060" crossorigin="anonymous">
    <link id="body-css" rel="stylesheet" href="/assets/css/body.min.css?v=1.327" type="text/css" media="all" version="1.327" crossorigin="anonymous">
    <link id="header-css" rel="stylesheet" href="/assets/css/header.min.css?v=" type="text/css" media="all" version="" crossorigin="anonymous">
    <script id="wasm-exec-js" src="/assets/js/wasm_exec.js" type="application/javascript" version="1.1"></script>
    <script id="wasm-js" src="/assets/js/wasm.min.js?v=1.007" type="application/javascript" version="1.007"></script>
    <script id="appData-js" src="/assets/js/appData.min.js?v=1.003" type="application/javascript" version="1.003"></script>
{{end}}