{{define "head_file_imports"}}
    <link id="dark-css" rel="stylesheet" href="/assets/css/dark.min.css?v=1.069" type="text/css" media="all" version="1.069" crossorigin="anonymous">
    <link id="body-css" rel="stylesheet" href="/assets/css/body.min.css?v=1.391" type="text/css" media="all" version="1.391" crossorigin="anonymous">
    <link id="header-css" rel="stylesheet" href="/assets/css/header.min.css?v=" type="text/css" media="all" version="" crossorigin="anonymous">
    <script id="wasm-exec-js" src="/assets/js/wasm_exec.js" type="application/javascript" version="1.1"></script>
    <script id="wasm-js" src="/assets/js/wasm.min.js?v=1.001" type="application/javascript" version="1.001"></script>
    <script id="appData-js" src="/assets/js/appData.min.js?v=1.003" type="application/javascript" version="1.003"></script>
{{end}}