{{define "base" }}
    <!doctype html>
    <html lang="en">
        {{template "head" .}}
        <body>

            {{block "header" .}}{{end}}

            {{block "content" .}}{{end}}

            {{template "footer" .}}

        </body>
    </html>

{{end}}