{{define "head_file_imports"}}
    <link id="dark-css" rel="stylesheet" href="/assets/css/dark.css" type="text/css" media="all" version="1.1" crossorigin="anonymous">
    <link id="body-css" rel="stylesheet" href="/assets/css/body.css" type="text/css" media="all" version="1.014" crossorigin="anonymous">
    <link id="header-css" rel="stylesheet"  href="/assets/css/header.css" type="text/css" media="all" version="1.1" crossorigin="anonymous">
    <script id="wasm-exec-js" src="/assets/js/wasm_exec.js" type="application/javascript" version="1.001"></script>
    <script id="wasm-js" src="/assets/js/wasm.js" type="application/javascript" version="1.004"></script>
    <script id="appData-js" src="/assets/js/appData.js" type="application/javascript" version="1.002"></script>
{{end}}