{{template "base" .}}

{{define "content" }}
    <div class="contentBody">
        <div>
            <div>
                <h1 class="mt-5">Settings</h1>
            </div>
        </div>
        <div></div>
    </div>
{{end}}