{{template "base" .}}

{{define "content" }}
    <div class="contentBody">
        <div class="header">
            <div class="title">
                <h1>{{.Name}}</h1>
                <p>{{.ShortDescription}}</p>
            </div>
            <div class="filters">

            </div>
        </div>
        {{template "products_grid" .}}
        <div class="description">
            {{.Description}}
        </div>
    </div>
{{end}}
